{% extends "base.html" %}

{% block styles %}
	.bookImg{
		width: 220px;
  		height: 300px;  		
  		margin: 5px 10px 5px 0;
	}
{% endblock %}

{% block content %}
	
	<div class="row">
	  <div class="col-md-4">
	    <img src="{{ book.image.url }}" alt="book.title" class="img-responsive bookImg" />
	  </div>
	
	  <div class="col-md-8">
	    <h3>{{ book.title }}</h3>
	    <dl class="dl-horizontal">
	      <dt>Authors:</dt>
	      <dd>{{ book.authors }}</dd>
	
	      <dt>Publisher:</dt>
	      <dd>{{ book.publisher }}</dd>
	      
	      <dt>Category:</dt>
	      <dd><a href="{{ book.category.get_absolute_url }}">{{ book.category.name }}</a></dd>
	    </dl>
	    <p>{{ book.description | safe }}</p>
	
	  </div>
	</div>
	
	{% if isLogged %}
	<div class="row">
		<!-- ---------------- if book not selected -------------------------- -->
		{% if not isSelected %}
			<a class="btn btn-success btn-lg"
				href="{% url 'bookclassic:addbook' book.slug %}"	
				>Add to My Library
			</a>
		{% else %}
		<!-- ---------------- if book selected before ----------------------- -->			
			<iframe src="{{ book.pdfFile.url }}" width="800px" height="600px"></iframe>
			
			<!-- ---------------- Note List ----------------------- -->
			{% if noteList %}
				<h3>Note List:</h3>
				{% for note in noteList %}
					<div class="row">
						<dl class="dl-horizontal">
					        <dt>Page of Book</dt>
					        <dd>{{ note.pageOfBook }}</dd>
					        <dt>Created Date</dt>
					        <dd>{{ note.created_datetime }}</dd>
					        <dt>Updated Date</dt>
					        <dd>{{ note.updated_datetime }}</dd>
					        <dt>Text</dt>
					        <dd>{{ note.text | safe }}</dd>
					      </dl>
					      <a href="{% url 'bookclassic:updatedeletenote' bookslug=book.slug pk=note.id %}" class="btn btn-danger btn-sm">Delete</a>
					      <button class="btn btn-primary btn-sm">Edit</button>
					</div>
				{% endfor %}
			{% endif %}	<!-- noteList -->
			
			<!-- ---------------- Add Note Form ----------------------- -->
			<h3>Add Note to This Book</h3>
			{% if message %}
				<div class="alert alert-info">
				  <strong>Info!</strong> {{ message }}
				</div>
			{% endif %}
			<form method="POST">
				{% csrf_token %}
				
				<div class="form-group">
					<input type="text" class="form-control" name="pageOfBook" placeholder="Page Of Book">
				</div>
				<div class="form-group">
					<textarea class="form-control" rows="7" name="text" placeholder="Text"></textarea>
				</div>
				
				<button class="btn btn-success">Add Note</button>
				
				
			</form>
			
		{% endif %} <!-- not isSelected -->
		
		
		
	</div>
	{% endif %}
	

{% endblock %}

