<div class="row">
  <div class="col-md-12">
    <form role="form" class="contactForm" (ngSubmit)="addNote(f)" #f="ngForm">

      <div class="alert alert-success" *ngIf="successMessage">
        <strong>Success!</strong> {{ successMessage }}
      </div>
      <div class="alert alert-warning" *ngIf="errorMessage">
        <strong>Warning!</strong> {{ errorMessage }}
      </div>

      <h3>Add Note to This Book</h3>
      <hr class="colorgraph">

      <div class="form-group">
          <input type="text"
            class="form-control" name="pageofbook"
            id="pageofbook" placeholder="Page of Book"
            ngModel required #pageofbook="ngModel" />
          <div class="validation"></div>
      </div>

      <div class="form-group">
          <textarea class="form-control" name="textNote"
            rows="7" placeholder="Text"
            ngModel required #textNote="ngModel"></textarea>
          <div class="validation"></div>
      </div>

      <div class="text-center">
        <button type="submit"
         class="btn btn-theme btn-block btn-md"
         [disabled]="!f.valid">Add Note</button>
      </div>
    </form>
  </div>

</div>
