<div class="row">
  <div class="col-md-4">
    <img src="{{ bookService.url }}{{book.image}}" alt="imggggg" class="img-responsive bookImg" />
  </div>

  <div class="col-md-8">
    <h3>{{ book.title }}</h3>
    <dl class="dl-horizontal">
      <dt>Authors:</dt>
      <dd>{{ book.authors }}</dd>

      <dt>Publisher:</dt>
      <dd>{{ book.publisher }}</dd>
    </dl>
    <p innerHTML="{{ book.description }}"></p>

  </div>
</div>

<div class="row">
  <label>Page:</label>
  <input type="number" placeholder="Page" [(ngModel)]="pageNumber"> / <span>{{ book.pageCount }}</span>
  <a [routerLink]="" (click)="leftPage()" class="arrow"><i class="fa fa-angle-left"></i></a>
  <a [routerLink]="" (click)="rightPage()" class="arrow"><i class="fa fa-angle-right"></i></a>

</div>
<div class="row">
    <pdf-viewer src="{{ bookService.url }}{{ book.pdfFile }}"
                  [page]= "pageNumber"
                  [original-size]="false"
                  style="display: block;"
      ></pdf-viewer>

</div>
