<div class="row">
  <div class="col-md-4">
    <img src="{{ bookService.mainUrl }}{{book.image}}" alt="book.title" class="img-responsive bookImg" />
  </div>

  <div class="col-md-8">
    <h3>{{ book.title }}</h3>
    <dl class="dl-horizontal">
      <dt>Authors:</dt>
      <dd>{{ book.authors }}</dd>

      <dt>Publisher:</dt>
      <dd>{{ book.publisher }}</dd>
    </dl>
    <p innerHTML="{{ book.description }}"></p>

  </div>
</div>

<div *ngIf="book.pdfFile; then showPdf else showAddButton"></div>
<!-- ................. Display Pdf file ................. -->
<ng-template #showPdf>
  <div class="row">
    <label>Page:</label>
    <input type="number" placeholder="Page" [(ngModel)]="pageNumber"> / <span>{{ book.pageCount }}</span>
    <a [routerLink]="" (click)="leftPage()" class="arrow"><i class="fa fa-angle-left"></i></a>
    <a [routerLink]="" (click)="rightPage()" class="arrow"><i class="fa fa-angle-right"></i></a>

  </div>
  <div class="row">
      <pdf-viewer src="{{ bookService.mainUrl }}{{ book.pdfFile }}"
                    [page]= "pageNumber"
                    [original-size]="false"
                    style="display: block;"
        ></pdf-viewer>

  </div>
  <!-- ..................... Note ...................... -->
  <div class="alert alert-success" *ngIf="message">
    <strong>Success!</strong> {{ message }}
  </div>

  <div class="row" *ngIf="book.notes">
    <div *ngFor="let note of book.notes">
      <dl class="dl-horizontal">
        <dt>Page of Book</dt>
        <dd>{{ note.pageOfBook }}</dd>
        <dt>Created Date</dt>
        <dd>{{ note.created_datetime }}</dd>
        <dt>Updated Date</dt>
        <dd>{{ note.updated_datetime }}</dd>
        <dt>Text</dt>
        <dd innerHTML="{{ note.text }}"></dd>
      </dl>
      <button class="btn btn-danger btn-sm" (click)="deleteNote(note.id)">Delete</button>
      <button class="btn btn-primary btn-sm">Edit</button>
      <hr>
    </div>
  </div>
  <app-note-create [bookSlug]="book.slug"></app-note-create>

</ng-template>

<!-- .................... Display add button .......................... -->
<ng-template #showAddButton>
  <button *ngIf="isLoggedUser"
    class="btn btn-success btn-lg" (click)="addBook()">Add to My Library
  </button>
</ng-template>
