<div class="row">
  <div class="col-md-4">
    <img src="{{ bookService.mainUrl }}{{book.image}}" alt="book.title" class="img-responsive bookImg" />
  </div>

  <div class="col-md-8">
    <h3>{{ book.title }}</h3>
    <dl class="dl-horizontal">
      <dt>Authors:</dt>
      <dd>{{ book.authors }}</dd>

      <dt>Publisher:</dt>
      <dd>{{ book.publisher }}</dd>
    </dl>
    <p innerHTML="{{ book.description }}"></p>

  </div>
</div>

<div *ngIf="book.pdfFile; then showPdf else showAddButton"></div>
<!-- ---------------- Display Pdf file -------------------->
<ng-template #showPdf>
  <div class="row">
    <label>Page:</label>
    <input type="number" placeholder="Page" [(ngModel)]="pageNumber"> / <span>{{ book.pageCount }}</span>
    <a [routerLink]="" (click)="leftPage()" class="arrow"><i class="fa fa-angle-left"></i></a>
    <a [routerLink]="" (click)="rightPage()" class="arrow"><i class="fa fa-angle-right"></i></a>

  </div>
  <div class="row">
      <pdf-viewer [src]="pdfFilePath"
                    [page]= "pageNumber"
                    [original-size]="false"
                    style="display: block;"
        ></pdf-viewer>

  </div>
</ng-template>

<!-- ---------------- Display add button -------------------->
<ng-template #showAddButton>
  <button *ngIf="isLoggedUser"
    class="btn btn-success btn-lg" (click)="addBook()">Add to My Library
  </button>
</ng-template>
