<div class="container">

<div class="row">
  <p>{{ errorMessage }}</p>
  <p>{{ successMessage }}</p>
    <div class="col-xs-12 col-sm-8 col-md-6">
		<form role="form" class="register-form" (ngSubmit)="registerUser(f)" #f="ngForm">
			<h2>Please Sign Up <small>It's free and always will be.</small></h2>
			<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
            <input
              type="text"
              name="first_name" id="first_name"
              class="form-control input-lg" placeholder="First Name" tabindex="1"
              ngModel required #firstname="ngModel">
					</div>
				</div>

        <div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input
            type="text"
            name="last_name" id="last_name"
            class="form-control input-lg" placeholder="Last Name" tabindex="2"
            ngModel required #lastname="ngModel">
					</div>
				</div>
        <code *ngIf="(!firstname.valid && firstname.touched) || (!lastname.valid && lastname.touched)">firstname or lastname is empty</code>
			</div>

      <div class="form-group">
				<input
          type="text"
          name="username" id="username"
          class="form-control input-lg" placeholder="Username" tabindex="3"
          ngModel required #username="ngModel">
        <code *ngIf="!username.valid && username.touched">username is empty</code>
			</div>

			<div class="form-group">
				<input
          type="email"
          name="email" id="email"
          class="form-control input-lg" placeholder="Email Address" tabindex="4"
          ngModel required email #email="ngModel">
        <code *ngIf="!email.valid && email.touched">email is incorrect</code>
			</div>

			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input
              type="password"
              name="password" id="password"
              class="form-control input-lg" placeholder="Password" tabindex="5"
              ngModel required #password="ngModel">
					</div>

				</div>
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
						<input
              type="password"
              name="password_confirmation" id="password_confirmation"
              class="form-control input-lg" placeholder="Confirm Password" tabindex="6"
              ngModel required #repassword="ngModel">
					</div>
				</div>
        <code *ngIf="password.value !== repassword.value"> password and repassword do not matched</code>
			</div>

			<div class="row">
				<div class="col-xs-12 col-md-6">
          <button
            type="submit"
            class="btn btn-theme btn-block btn-lg" tabindex="7"
            [disabled]="!f.valid"
          >Register</button>
        </div>
				<div class="col-xs-12 col-md-6">Already have an account? <a href="login.html">Login</a></div>
			</div>
		</form>
	</div>
</div>
</div>
