<div id="wrapper">
  <app-navigation></app-navigation>

  <section id="content">
    <div class="container">
      <div class="row">

        <div class="col-lg-3">
          <aside class="left-sidebar">
            <app-login></app-login>

            <div class="widget">
    					<h5 class="widgetheading">Categories</h5>
    					<ul class="cat">
                <li *ngFor="let category of categoryList">
                  <i class="fa fa-angle-right"></i><a [routerLink]="['/category', category.slug]">{{ category.name }}</a>
                </li>
    					</ul>
    				</div>

          </aside>

        </div>

        <div class="col-lg-9">
          <router-outlet></router-outlet>
        </div>

      </div>
    </div>
  </section>

  <app-footer></app-footer>
</div><!-- wrapper -->
